body {
    background-color: var(--back-color);
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 65px;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #25252e;
    z-index: 999;
}

.header-logo {
    margin-left: 12px;
    cursor: pointer;
}

.header-logo img {
    width: 120px;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.header-menu {
    margin: 24px;
    cursor: pointer;
}

.header-menu i {
    font-size: 3rem;
    color: var(--primary-color);
    transition: 0.6s ease-in;
}

.header-holder-wrapper{
    display: none;
    position: fixed;
    inset: 0;
    z-index: 998;
}

.header-holder-wrapper.active {
    display: block;
}

.header-holder {
    position: absolute;
    top: 65px;
    right: 0;
    width: 260px;
    height: 100%;
    overflow: auto;
    background-color: #25252e;
}


.header-holder .container-nav-menu {
    padding: 50px 30px 50px 50px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container-right {
    position: sticky;
    top: 0;
    right: 0;
    width: 15%;
    height: 100vh;
    overflow: auto;
}

.container-right-logo {
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.container-right-logo-img {
    width: 150px;
    border-radius: 4px;
}

.container-nav-menu {
    padding-left: 0;
    font-size: 1.6rem;
}

.nav-menu-li {
    margin-bottom: 24px;
    font-weight: 500;
    text-transform: uppercase;
    list-style: none;
    color: var(--primary-color);
}

.container-left {
    width: 80%;
    padding-left: 12px;
    padding-right: 12px;
}

.container-left-info {
    position: relative;
    display: flex;
    padding-top: 100px;
    margin-bottom: 50px;
}

.element-title{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(50%);
    color: #25252e;
    font-size: 4rem;
    letter-spacing: 3px;
    font-weight: 600;
}

.container-info-col2 {
    width: 50%;
}

.container-info-content {
    padding: 0 100px;
    color: var(--primary-color);
}

.container-info-content>div:last-child {
    margin-bottom: 0;
}

.container-info-photo{
    border-radius: 8px;
    overflow: hidden;
}

.container-info-img{
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.container-info-wrapper {
    padding-top: 24px;
    padding-right: 50px;
    color: var(--primary-color);
    font-size: 1.6rem;
}

.container-info-wrapper-header {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
}

.container-info-wrapper-des {
    text-align: justify;
    line-height: 1.8;
}

.container-info-content-header {
    margin-bottom: 12px;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.container-info-content-des {
    font-size: 1.5rem;
    margin-bottom: 36px;
    /* white-space: nowrap;
    overflow: hidden;
    width: 0; 
    animation: typing 4s steps(40, end) forwards; */
}

.container-info-content-des a {
    font-size: 2rem;
    margin-right: 8px;
    color: var(--primary-color);
}

.container-info-content-des a:hover {
    color: var(--hover-color);
}

.toggleButton{
    display: none;
}

.container-info-project-content {
    margin-bottom: 12px;
}

.container-project-content-header {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.container-project-content-des {
    margin-left: 12px;
}

.container-project-content-des a:hover {
    text-decoration: underline;
}

.container-project-content-des span {
    line-height: 1.8;
}

/* slider skill */
.cLSkill{
    position: relative;
    padding-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cLSkill-wrapper{
    width: 50%;
}

.cLSInfo{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.cLSInfo-num{
    font-size: 3rem;
    margin-right: 12px;
    color: #6db363;
}

.cLSInfo-fill{
    width: 5%;
    transition: width 0.8s ease-in;
}

.cLSInfo-fill-75.visible{
    width: 75%;
}

.cLSInfo-fill-60.visible{
    width: 60%;
}

.cLSInfo-fill-50.visible{
    width: 50%;
}

.cLSInfo-content{
    position: relative;
    width: calc(100% - 120px);
    height: 10px;
    background-color: var(--primary-color);
}

.cLSInfo-text{
    position: absolute;
    top: 0;
    transform: translateY(-30px);
    font-size: 1.6rem;
    color: var(--primary-color);
    letter-spacing: 3px;
}

.cLSInfo-fill{
    position: absolute;
    height: 20px;
    top: 0;
    transform: translateY(-25%);
    background-color: #6db363;
}

.cLSProject{
    width: 50%;
}

.cLSPSlider{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.cLSPSlider-content{
    display: flex;
    transition: transform 0.6s ease-in;
}

.cLSPSlider-content a{
    flex: 1 0 100%;
}

.cLSPSlider-img{
    width: 100%;
    height: 360px;
    object-fit: cover;  
    border-radius: 8px; 
}

.cLSPSlider-img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in;
}

.cLSPSlider-icon{
    position: absolute;
    font-size: 3rem;
    color: #d32f2f;
    cursor: pointer;
}

.cLSPSlider-left{
    top: 50%;
    left: 0;
    transform: translate(10px, -50%);
}

.cLSPSlider-right{
    top: 50%;
    right: 0;
    transform: translate(-10px, -50%);
}

/* skill */
.container-left-wrapper {
    position: relative;
    padding-top: 100px;
    margin-bottom: 100px;
}

.container-left-skills {
    display: none;
    margin-bottom: 50px;
}

.container-left-skills.show {
    display: flex;
}

.container-left-skills-photo {
    flex: 0 0 65%;
    height: 380px;
    border-radius: 8px;
    overflow: hidden;
}

.container-skills-photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-left-skills-content {
    margin-top: 50px;
    margin-left: 24px;
    color: var(--primary-color);
}

.container-skills-content-header {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}

.container-skills-content-des {
    text-align: justify;
    font-size: 1.6rem;
    line-height: 1.6;
}

.loadMore {
    position: absolute;
    right: 0;
    padding-bottom: 4px;
    transform: translate(-12px, -24px);
    color: var(--primary-color);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    opacity: 1;
}

.loadMore:hover {
    cursor: pointer;
    color: #6db363;
    opacity: 0.8;
    transition: 0.35s ease-out;
}

.loadMore::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
}

.loadMore:hover::after {
    width: 10px;
    background-color: #6db363;
    transition: 0.35s ease-out;
}

/* Timline */
.container-left-timelineWrapper {
    position: relative;
    padding-top: 100px;
}

.container-left-timeline {
    position: relative;
    margin-bottom: 100px;
    /* display: flow-root; */
}

.container-left-timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    background-color: var(--primary-color);
}

.container-timeline-challenge {
    position: relative;
    width: 45%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.container-timeline-challenge.visible {
    opacity: 1;
    transform: translateY(0);
}

.container-timeline-challenge:nth-child(2n) {
    margin-left: auto;
}

.container-timeline-challenge::before,
.container-timeline-challenge:nth-child(2n)::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s ease-out;
    background-color: #2e2e38;
}

.container-timeline-challenge::after,
.container-timeline-challenge:nth-child(2n)::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s ease-out;
    border: 3px solid #fff;
}

.container-timeline-challenge::before,
.container-timeline-challenge::after {
    top: 50%;
    transform: translate(50%, -50%);
    right: 0;
}

.container-timeline-challenge:nth-child(2n)::before,
.container-timeline-challenge:nth-child(2n):after {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.tOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Đặt nền đen mờ */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.tOverlay.hidden{
    display: flex;
}

.tOBlock {
    position: relative;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.tOBHeader {
    font-size: 28px;
    font-weight: bold;
    color: #4caf50;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.tOBName, .tOBDes, .tOBLink, .tOBTimeEsti, .tOBTimeImple {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.6;
}

.tOBDes {
    font-size: 16px;
    color: #333;
}

.tOBLink a {
    font-size: 16px;
    color: #333;
    text-decoration: underline;
}

.tOBLink a:hover {
    color: #6db363;
}

.tOBTimeEsti, .tOBTimeImple {
    font-size: 1.4rem;
    color: #757575;
    font-style: italic;
    display: block;
}

.tOBName, .tOBTimeEsti, .tOBTimeImple {
    font-weight: 500;
}

.close-overlay {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: #f44336; 
    cursor: pointer;   
    transition: all 0.3s ease; 
}

.close-overlay:hover {
    color: #d32f2f;
    transform: scale(1.1);
}

/* challenge */

.challenge-line-left,
.challenge-line-right {
    position: absolute;
    width: 24px;
    height: 3px;
    top: calc(50% - 1px);
    background-color: var(--primary-color);
}

.challenge-line-left {
    right: -34px;
}

.challenge-line-right {
    left: -34px;
}

.container-timeline-challenge:hover::after,
.container-timeline-challenge:hover:nth-child(2n) {
    background-color: #fff;
}

.container-challenge-wrapper {
    padding: 40px 55px 40px 40px;
    background-color: #6db363;
    color: var(--primary-color);
    cursor: pointer;
}

.container-challenge-wrapper-number {
    margin-bottom: 24px;
    font-size: 2rem;
}

.container-challenge-wrapper-name {
    font-size: 1.6rem;
    margin-bottom: 24px;
    line-height: 1.6;
}

.container-challenge-wrapper-link {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.footer {
    padding: 50px 0;
    color: var(--primary-color);
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #fff;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.footer-info {
    width: 30%;
    padding-left: 0;
}

.footer-info-center li {
    margin-bottom: 12px;
}

.footer-info-center li i, 
.footer-info-right-icon a {
    font-size: 1.6rem;
    margin-right: 12px;
}

.footer-info-center li a {
    font-size: 1.4rem;
    line-height: 1.8;
}

.footer-info-header {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 24px;
}

.footer-info-right-icon {
    display: flex;
    padding: 0;
}

.footer-info-right-icon a i{
    transition: transform 0.2s ease-in;
}

.footer-info-right-icon a i:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.footer-info-content a {
    display: block;
    margin-bottom: 24px;
    font-size: 1.4rem;
}