/* tablet < 1024px */
@media only screen and (max-width:64em) {
    .header {
        display: flex;
    }

    .container-left {
        width: 100%;
    }

    .container-right {
        display: none;
    }
}

/* tablet < 1024px */
@media only screen and (min-width: 46.25em) and (max-width:64em) {}

/* Tablet mini: < 768px */
@media only screen and (min-width: 46.25em) and (max-width:64em) {
    .container-challenge-wrapper-link {
        display: block;
    }

    .container-challenge-wrapper-link div {
        margin-top: 12px;
        text-align: end;
    }
}

/* mobile < 740px */

@media only screen and (max-width: 46.25em) {
    .container-left-info {
        display: block;
    }

    .container-info-col2 {
        width: 100%;
    }

    .container-info-wrapper {
        padding-right: 0;
    }

    .container-info-content {
        padding-left: 24px;
    }
    
    .container-info-photo{
        margin-top: 50px;
    }

    .cLSkill{
        display: block;
    }

    .cLSkill-wrapper{
        width: 100%;
    }

    .cLSProject{
        width: 100%;
    }

    .container-left-skills.show{
        display: block;
    }

    .container-left-skills-photo {
        width: 100%;
        height: auto;
    }

    .container-timeline-challenge {
        width: calc(100% - 35px);
    }

    .container-timeline-challenge:nth-child(2n) {
        margin-left: 0;
    }

    .container-left-timeline::before {
        left: 100%;
    }

    .container-timeline-challenge:nth-child(2n)::before,
    .container-timeline-challenge:nth-child(2n):after {
        top: 50%;
        transform: translate(50%, -50%);
        right: 0;
        left: auto;
    }

    .container-timeline-challenge:not(:last-child) {
        margin-bottom: 30px;
    }

    .challenge-line-right {
        left: auto;
        right: -34px;
    }

    .container-challenge-wrapper-link{
        display: block;
        text-align: end;
    }
    
    .container-challenge-wrapper-link div{
        margin-top: 12px;
    }

    .tOBlock{
        width: 100%;
        height: 100%;
    }

    .close-overlay{
        top: 30px;
        right: 30px;
    }

    .footer-wrapper {
        display: block;
    }

    .footer-info {
        width: 100%;
        margin-bottom: 36px;
    }
}