:root{
    --back-color: #323238;
    --primary-color: #fff;
    --hover-color: #5d9755;
}
*{
    margin: 0;
}
html{
    font-family: 'roboto';
    font-size: 62.5%;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
li{
    list-style: none;
}

.col-2{
    width: 50%;
}
.container-width{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}