:root {
    --back-color: #323238;
    --primary-color: #fff;
    --hover-color: #5d9755;
}

* {
    margin: 0;
}

html {
    font-family: 'roboto';
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

li {
    list-style: none;
}

.col-2 {
    width: 50%;
}

.container-width {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.hover_underline {
    position: relative;
}

.hover_underline::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #6db363;
    transition: width 0.3s ease-in;
}

.hover_underline:hover::after {
    width: 100%;
}

.hover_underline.active::after {
    width: 100%;
}
.text_underline:hover{
    text-decoration: underline;
}